{# Credit: Heroicons (https://heroicons.com) #}
<c-vars variant="outline" style="" stroke_width="1.5" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == "outline" %}
{% with default_style="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
<svg {{ attrs }} style="{{ style|default:default_style }}" aria-hidden="true" data-slot="icon" fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="m11.99 16.5-3.75 3.75m0 0L4.49 16.5m3.75 3.75V3.75h11.25"></path>
</svg>
{% endwith %}
{% endif %}

{% if variant == "solid" %}
{% with default_style="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
<svg {{ attrs }} style="{{ style|default:default_style }}" aria-hidden="true" data-slot="icon" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M20.24 3.75a.75.75 0 0 1-.75.75H8.989v13.939l2.47-2.47a.75.75 0 1 1 1.06 1.061l-3.75 3.75a.75.75 0 0 1-1.06 0l-3.751-3.75a.75.75 0 1 1 1.06-1.06l2.47 2.469V3.75a.75.75 0 0 1 .75-.75H19.49a.75.75 0 0 1 .75.75Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% endif %}

{% if variant == "mini" %}
{% with default_style="width: 1.25rem; height: 1.25rem; flex-shrink: 0;" %}
<svg {{ attrs }} style="{{ style|default:default_style }}" aria-hidden="true" data-slot="icon" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M16 3.75a.75.75 0 0 1-.75.75h-7.5v10.94l1.97-1.97a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0l-3.25-3.25a.75.75 0 1 1 1.06-1.06l1.97 1.97V3.75A.75.75 0 0 1 7 3h8.25a.75.75 0 0 1 .75.75Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% endif %}

{% if variant == "micro" %}
{% with default_style="width: 1rem; height: 1rem; flex-shrink: 0;" %}
<svg {{ attrs }} style="{{ style|default:default_style }}" aria-hidden="true" data-slot="icon" fill="currentColor" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M5.47 2.22A.75.75 0 0 1 6 2h7.25a.75.75 0 0 1 0 1.5h-6.5v7.94l.97-.97a.75.75 0 0 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 1 1 1.06-1.06l.97.97V2.75a.75.75 0 0 1 .22-.53Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% endif %}
