{# Credit: Heroicons (https://heroicons.com) #}
<c-vars
  class=""
  variant="outline"
></c-vars>

{% if variant == "outline" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="none" stroke="currentColor" stroke-width="1.5" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="m8.25 4.5 7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
{% endwith %}
{% elif variant == "solid" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% elif variant == "mini" %}
{% with styles="width: 1.25rem; height: 1.25rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% elif variant == "micro" %}
{% with styles="width: 1rem; height: 1rem; flex-shrink: 0;" %}
<svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% endif %}
