{# Credit: Heroicons (https://heroicons.com) #}
<c-vars
  class=""
  variant="outline"
></c-vars>

{% if variant == "outline" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="none" stroke="currentColor" stroke-width="1.5" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="m4.5 15.75 7.5-7.5 7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
{% endwith %}
{% elif variant == "solid" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% elif variant == "mini" %}
{% with styles="width: 1.25rem; height: 1.25rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% elif variant == "micro" %}
{% with styles="width: 1rem; height: 1rem; flex-shrink: 0;" %}
<svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% endif %}
