{# Credit: Heroicons (https://heroicons.com) #}
<c-vars
  class=""
  variant="outline"
></c-vars>

{% if variant == "outline" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="none" stroke="currentColor" stroke-width="1.5" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
{% endwith %}
{% elif variant == "solid" %}
{% with styles="width: 1.5rem; height: 1.5rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M5.25 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75Z" fill-rule="evenodd"></path>
</svg>
{% endwith %}
{% elif variant == "mini" %}
{% with styles="width: 1.25rem; height: 1.25rem; flex-shrink: 0;" %}
  <svg aria-hidden="true" class="{{ class }}" data-slot="icon" fill="currentColor" style="{{ styles }}" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path d="M6.75 9.25a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5Z"></path>
</svg>
{% endwith %}
{% elif variant == "micro" %}
{% with styles="width: 1rem; height: 1rem; flex-shrink: 0;" %}
__MICRO__
{% endwith %}
{% endif %}
